<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
  <%- include('./partials/Navbar', { bot, user }); %>
  <div class="section-container">
    <section id="home">
    <img src="https://media.discordapp.net/attachments/909588142347145257/910220531356286976/ep-nantes.png" class="bot-icon">
    <h3 class="section-header">EliteProtect</h3>
    <p class="section-description">EliteProtect et un bot anti raid, conçu pour n'importe qu'elles serveurs. EliteProtect a des fonctionnalités uniques, des commandes bien géré et le bot et complètement gratuit. Mais EliteProtect a aussi sont propres Hébergement Ptérodactyl et gratuit, avec  un site dashboard pratique et simple ! Bon je te laisse voir sa avec EliteProtect.</p>
    <div class="btns">
    <button> <a href="https://discord.com/oauth2/authorize?client_id=874296955600252939&scope=bot&redirect_uri=http%3A%2F%2Fgame01.teo-bot.fr%3A25594%2Fcallback" class="fab fa-discord"> Ajouté le bot</a> </button> 
    
    <button> <a href="https://discord.gg/UcZD5sNmwY" class="fab fa-discord"> Rejoindre Le Support</a> </button> 
    </div>
    </section>
    </div>
    
 

    
    <footer>
      <span>Créé par <a href="https://youtube.com/c/julesZYTB">JulesZ</a> | <span class="far fa-copyright"></span> 2021 Tous les droits sont réservés.</span>
    </footer>
  <script src="js/script.js"></script>
  </body>
</html>
