<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/Styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    
  </head>
  <body>
  <%- include('./partials/Navbar', { bot, user }); %>
  <title>Bêta page | Nous soutenir</title>
  
     <img src="https://media.discordapp.net/attachments/909588142347145257/910220531356286976/ep-nantes.png" class="bot-icon">
    <h3 class="section-header">Soutien EliteProtect</h3>
    
    <p class="section-description">Soutenait EliteProtect, pourquoi nous soutenir ? 
Nous soutenir peux nous aider a régler les bugz ou bien aussi a amélioré le bot ou le dashboard !

Nous soutenir en plusieurs méthodes


Comme par exemple vous pouvez voté le bot sur Top.gg ou fair un don même si la valeur dépasse pas les 1€ !

↓ Voici les possibilités en bas ↓</p>
    
    <div>

<a href="https://top.gg/bot/874296955600252939">
  <img src="https://top.gg/api/widget/874296955600252939.svg">
</a>
</div>
    
    <div>
    <iframe src="https://discord.com/widget?id=834782198237364234&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
    
    <footer>

      <span>Bêta page | Créé par <a href="https://youtube.com/c/julesZYTB">JulesZ</a> | <span class="far fa-copyright"></span> 2021 Tous les droits sont réservés.</span>

    </footer>

  
    
  </body>
</html>
