<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/verify.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="js/script.js" defer></script>
  </head>
  <body>
 <%- include('./partials/Navbar', { bot, user }); %>
  <div class="section-container">
    <section id="verify">
    <i class="fas fa-fingerprint verify-i"></i>
    <h3 class="section-header">Vérification</h3>
    <p>Veuillez remplir le captcha ci-dessous pour vérifier</p>
    <form action='' method="POST" id="captcha">
      <div class="h-captcha" data-theme="dark" data-sitekey=<%= config.website.captcha.sitekey %> data-callback="Submit"></div>
    </form>
    </section>
    </div>
    <footer>
      <span>Créer par <a href="https://youtube.com/c/julesZYTB">JulesZ</a> | <span class="far fa-copyright"></span> 2021 Tous les droits sont réservés.</span>
    </footer>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
  </body>
</html>
